.homepage {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 6rem;
}

.carousel-section {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.carousel-container {
  height: 100%;
}

.carousel-item {
  padding: 0 0.2rem;
}

img {
  height: calc(100vh - 6rem);
  width: 100%;
  object-fit: cover;
}
