.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1.5rem 0;
  background-color: black;
  height: 6rem;
  backdrop-filter: blur(0.2rem);
  -webkit-backdrop-filter: blur(12px);
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
}

.nav-logo {
  padding: 0.5rem 1.25rem;
  transition: color 0.3s ease, background-color 0.5s ease;
  margin: 0.1rem;
  border-radius: 2rem;
}

.nav-logo:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}

.logo-icon {
  height: 1.75rem;
  width: 1.75rem;
  display: block;
}

.nav-link {
  text-decoration: none;
  margin: 0.1rem;
  padding: 0.75rem;
  border-radius: 2rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 1.25rem;
  display: block;
  transition: color 0.3s ease, background-color 0.5s ease;
}

.nav-link:hover {
  background-color: yellow;
  color: black;
  cursor: pointer;
}
